<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="{{ url_for('static', filename='css/design.css') }}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
</head>
<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-12">
                <div class="text-center"> </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 class="text-white large-font mr-3">{{dict_today["temp"]}}&#176;</h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 class="text-white mt-3 mb-0">{{location}}, {{dict_today["location"]}}</h2> <small class="text-white">{{dict_today["today"]}}</small>
                        <small class="text-white">{{dict_today["description"]}}</small>
                    </div>
                    <div class="d-flex flex-column text-center">
                         <img src={{dict_today["icon"]}}>
                    </div>
                </div>
              <div class="card card-3">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <h4 class="text-black mt-3 mb-0">DAY</h4>
                    <a href="/sky">download </a>
		            <a href="/dynamo">Create Table</a>
                    <div class="text-black line my-5"></div>
                    <!-- Indicators -->
                        <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0"></li>
                        <li data-target="#demo" data-slide-to="1" class="active"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul> <!-- The slideshow -->
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[0]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[0]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[0]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[1]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[1]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[1]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[2]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[2]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[2]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[3]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[3]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[3]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[4]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[4]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[4]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[5]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[5]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[5]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[6]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[6]["day"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[6]["icon"]}} /></div>
                                </div>
                            </div>
                            <h4 class="text-black mt-3 mb-0">NIGHT</h4>
                            <div class="text-black line my-5"></div>
                            <div class="row">
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[0]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[0]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[0]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[1]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[1]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[1]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[2]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[2]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[2]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[3]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[3]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[3]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[4]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[4]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[4]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[5]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[5]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[5]["icon"]}} /></div>
                                </div>
                                <div class="col">
                                    <div class="row row3">{{dict_7_days[6]["date"]}}</div>
                                    <div class="row row1">{{dict_7_days[5]["night"]}}&deg;</div>
                                    <div class="row row2"><img src={{dict_7_days[6]["icon"]}} /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
                <form action="/" method="post">
                    <div class="row px-3"><input type="text" name="location" placeholder="Another location" class="mb-5">
                        <input class="fa mb-5 mr-0 text-center" type="submit" value="Search">
                    </div>
                </form>
                <div class="mr-5">
                    <p class="light-text suggestion">Birmingham</p>
                    <p class="light-text suggestion">Manchester</p>
                    <p class="light-text suggestion">New York</p>
                    <p class="light-text suggestion">California</p>
                    <div class="line my-5"></div>
                    <p>Weather Details</p>
                    <div class="row px-3">
                        <p class="light-text">Cloudy</p>
                        <p class="ml-auto">{{dict_today["clouds"]}}%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Humidity</p>
                        <p class="ml-auto">{{dict_today["humidity"]}}%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Wind</p>
                        <p class="ml-auto">{{dict_today["wind_speed"]}}km/h</p>
                    </div>
                    <div class="line mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>