<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
 <form method="post" action="/">
  <label for="location">Location:</label>
  <input type="text" id="location" name="location"><br><br>
  <input type="submit" value="Submit"> <br>
     <h1>{{location}}</h1>
     {%if dict_%}
         <table>
             <thead>
                 <tr>
                     <th>Date</th>
                     <th>Humidity</th>
                     <th>Day</th>
                     <th>Night</th>
                 </tr>
             </thead>
             <tbody>

             {%for i in range(7)%}
                <tr>
                     <td>{{dict_[i]["date"]}}</td>
                     <td>{{dict_[i]["humidity"]}}</td>
                     <td>{{dict_[i]["day"]}}</td>
                     <td>{{dict_[i]["night"]}}</td>
                </tr>
             {%endfor%}
             </tbody>
         </table>
     {%endif%}


</form>
</body>
</html>